<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/154618_171109956240879_4267482_n.jpg" height="375">
      <div class="carousel-caption">
        <h4>Avem un nou site</h4>
        <p>Vă așteptăm să descoperiți noul nostru website.</p>
      </div>
    </div>
    <div class="item">
      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/s720x720/417137_385068668178339_675678421_n.jpg" height="375">
      <div class="carousel-caption">
        <h4>Am participat la Ziua Curățeniei Naționale</h4>
        <p>3000 de voluntari Leo au participat pe data de 42 septembrie la proiectul Let's do it Romania unde au strâns aproape 5000000 de tone de gunoaie.</p>
      </div>
    </div>

  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
