<div class="row">
  <div class="span8 widget">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item">
          <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/154618_171109956240879_4267482_n.jpg" height="400">
          <div class="carousel-caption">
            <h4>Avem un nou site</h4>
            <p>Vă așteptăm să descoperiți noul nostru website.</p>
          </div>
        </div>
        <div class="item">
          <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash4/s720x720/417137_385068668178339_675678421_n.jpg" height="400">
          <div class="carousel-caption">
            <h4>Am participat la Ziua Curățeniei Naționale</h4>
            <p>3000 de voluntari Leo au participat pe data de 42 septembrie la proiectul Let's do it Romania unde au strâns aproape 5000000 de tone de gunoaie.</p>
          </div>
        </div>

      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
  <div class="span4 widget">
    <ul class="nav nav-list">
      <li class="nav-header">Cluburi Omega</li>
      
      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-alba-iulia-fortress">Leo Club
      Alba Iulia "Fortress"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-arad-ziridava">Leo
      Club Arad "Ziridava"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-bacau-phoenix">Leo
      Club Bacau</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-bistrita">Leo Club
      Bistrita</a></li>

      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-bucuresti-sunshine">Leo Club
      Bucuresti "Sunshine"</a></li>

      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-campulung-muscel-rainbow">Leo
      Club Campulung Muscel "Rainbow"</a></li>

      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-cluj-napoca-bastion">Leo Club
      Cluj-Napoca "Bastion"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-craiova">Leo Club
      Craiova</a></li>

      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-oradea-veritas">Leo Club
      Oradea "Veritas"</a></li>

      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-ramnicu-valcea-cozia">Leo Club
      Ramnicu Valcea "Cozia"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-satu-mare">Leo
      Club Satu-Mare</a></li>

      <li><a dir="ltr" href="http://www.leoclubs.ro/cluburi/leo-club-sibiu">Leo
  Club Sibiu</a></li>

      <li><span><a dir="ltr" href=
      "http://www.leoclubs.ro/cluburi/leo-club-sighisoara">Leo Club
      Sighisoara</a></span></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-suceava-bucovina">Leo
      Club Suceava "Bucovina"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-timisoara-tm">Leo Club
      Timisoara "TM"</a></li>
    
      <li class="nav-header">Cluburi Alpha</li>
      <li><a href=
      "http://www.leoclubs.ro/cluburi/leo-club-timisoara-young-spirit">Leo Club
      Timisoara "Young Spirit"</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-oradea">Leo Club
      Oradea</a></li>

      <li><a href="http://www.leoclubs.ro/cluburi/leo-club-buzau-grifon">Leo Club Buzau "Grifon"
      </a></li>
    </ul>
  </div>
</div>
