<div class="first row">
  <div class="span8 widget">
    <div class="widget-inner" id="myCarousel">
      <%= render 'home/carousel' %>
    </div>
  </div>
  <div class="span4 widget">
    <div class="widget-inner">
      <%= render 'home/clubs' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="span4 widget">
    <div class="widget-inner">
      <h3>Proiecte noi</h3>
    </div>
  </div>
  <div class="span4 widget">
    <div class="widget-inner">
      <h3>Membri noi</h3>
    </div>
  </div>
  <div class="span4 widget">
    <div class="widget-inner">
      <h3>Clubul Lunii</h3>
    </div>
  </div>
</div>
