<div class="first row">
  <div class="span8 widget">
    <%= render 'home/carousel' %>
  </div>
  <div class="span4 widget">
    <%= render 'home/clubs' %>
  </div>
</div>

<div class="row">
  <div class="span4 widget">
    <h3>Proiecte noi</h3>
  </div>
  <div class="span4 widget">
    <h3>Membri noi</h3>
  </div>
  <div class="span4 widget">
    <h3>Clubul Lunii</h3>
  </div>
</div>
