// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: url('/assets/background.png') repeat-y;
  background-position: center 57px;
}

.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.carousel .item p, h4 {text-align:left;}

.widget{
  background-color: #F5F5F5;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 355px;
}
.widget > * {
  padding: 20px;
  border: 1px solid #E3E3E3;
}

.widget h3{
  border: none;
}
#myCarousel{
  padding: 0px;
}
#clubs{
  height: 355px;
  overflow: auto;
}
